body {
  font-family: serif;
  background-color: #f0f0f5;
  font-weight: 900px;
  
}
h1{
    margin-right: 20px;
}

.form-container {
 margin-top: 5px;
 margin-bottom: 5px;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  padding: 25px;
  border: 3px solid #596169;
  border-radius: 8px;
  background-color: #adafb1;
  
  
}

.button-div {
  text-align: right;
  margin-bottom: 30px;
  border-radius: 8px;

}

button {
  padding: 5px 30px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  
}

#signup-submit {
  background-color: #1530a6;
  color: #c0c2c6;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#name{
  border-radius: 7px;
}
#email{
   border-radius: 7px;
   
}

#password{
  border-radius: 7px;
}

#confirm-password{
  border-radius: 7px;
}
#login-btn{
  background-color: #1530a6;
  color: #eef1f4;
}
#signup-btn{
  background-color: #1530a6;
  color: #eef1f4;
}

  
